@charset "UTF-8";

header, nav{
 display: flex;
 align-items: center;
 column-gap: 64px;   

 width: 100%;
 max-width: 1440px;
 padding: 24px 15px 0px 15px;
}

header img {
   width: 70px;
   height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;

    list-style: none;
}

.navigation_link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: relative;
}

.navigation_link:hover {
    color: var(--red);
}

.navigation_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--red);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.navigation_link:hover::after{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}

.navigation_social {
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

#button_menu {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 10px;
    margin-top: -10px;
    z-index: 1;
 }
 #button_menu  button {
     display: flex;
     flex-direction: column;
     align-items: center;
     background: transparent;
     row-gap: 4px;
     border: 0;

    
 }
 #button_menu > button > span {
     width: 40px;
     height: 4px;
     background: #615959;
     border-radius: 8px;

     transition: 0.4s;
 }

 #button_menu > button.active span:nth-child(2) {
     opacity: 0;
     width: 0px;
 }

 #button_menu > button.active span:nth-child(1) {
     transform: rotate(-45deg) translate(-6px, 4px);
 }

 #button_menu > button.active span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -4px);
 }

#button_menu {
    display: none;
}

@media screen and (min-width: 752px) and (max-width: 830px){
    header, .navigation, .navigation_social {
        column-gap: 23px;
    }
     
}

@media screen and (max-width: 751px) {
    .navigation, .navigation_social {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    nav {
        position: absolute;
        right: 0;
        width: 100vw;
        height: 317.5vw;
        background: rgba(0, 0, 0, 0.911);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;     
        z-index: 1;   
    }
    
    #button_menu {
        display: flex;
    }
    
    nav.active .navigation, nav.active .navigation_social {
        display: flex; 
        flex-direction: column;
        align-items: center;
    
    }

     .navigation {
        position: absolute;
        padding-top: 110vw;
        row-gap: 16vw;
        margin-left: 15px;
    }

    .navigation a {
        font-size: 18px;
        font-weight: 500;
    }

    nav.active .navigation_social {
        flex-direction: row;
        width: 80vw;
        height: 250vw;
        justify-content: center;
        align-items: end;
        column-gap: 6vw;
        margin-left: -0.5px;

        transition: 0.3s;
    }


    .navigation_social svg {
        width: 28px;
        height: 28px;
    }
}

nav.active {
    transform: translateX(0);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.button_menu.active .button .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.button_menu.active .button .line2 {
    opacity: 0;
}

.button_menu.active .button .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}