@charset "UTF-8";

@import url(./body.css);
@import url(./head.css);

@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Parkinsans:wght@300..800&display=swap');

:root {
    --font-base: "Parkinsans", sans-serif;
    --font-especial: "Funnel Display", serif;
    --verde-1: #164b41;
    --verde-3: #4d774e;
    --verde-4: #9cc88d;
    --verde-f: #293f32;
    --amarelo: #f1b249;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}