header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.head2 {
    display: flex;
    align-items: center;
    width: 75vw;
    justify-content: end;
}

ul {
    display: flex;
    align-items: center;
}


.logo{
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: var(--font-especial);
    line-height: 15px;
    font-weight: 700;
    padding: 35px;

    & img {
        max-width: 50px;
        filter: invert();
    }
}

.nav1 {
    
    & ul{
        display: flex;
        gap: 1.8rem;
        list-style: none;
        font-family: var(--font-base);
       
   }

 ul li {
    position: relative;
    padding: 0 16px;
}

 ul li::before{
    content: "•";
    position: absolute;
    left: -10px;
    top: -6px;
    color: white;
    font-size: 25px;
    opacity: 1;
    transform: translateX(-50%);

    transition: opacity 0.5s;
}

ul li:hover::before {
    opacity: 0;
    transition: opacity 0.5s;
}


}

.nav1 ul li a {
    position: relative;
}
.nav1 ul li a:hover {
        color: var(--amarelo);
}
.nav1 ul li a::after {
    content: '';

    position: absolute;
    left: 0;
    top: -38px;

    width: 100%;
    height: 4px;
    background: var(--amarelo);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

    border-radius: 2px;

}
.nav1 ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}


.nav2 {
    display: flex;
    gap: 1.75rem;
    

    & ul {
        list-style-type: none;
        gap: 1.5rem;
    }

    & button {
        background: none;
        border: none;
    }

    & .cart {
        background: var(--amarelo);
        padding: 10px 10px 5px 10px;
        border-radius: 30px;
        margin-bottom: 4px;
    }

    & menu {
        padding: 40px;
        background: var(--verde-1);
    }

}
